@use '../utilities/' as *;

.about {
	padding-block: 55px;
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	gap: 50px;
	justify-items: center;
	margin-inline: 30px !important;
	@include mq(xxl) {
		padding-block: 120px;
	}
	&__content {
		margin-left: 0;
		@include mq(xl) {
			margin-left: 36px;
		}
	}
	@include mq(xl) {
		grid-template-columns: 2fr 1fr;
		justify-items: normal;
		margin-inline: auto !important;
	}
	& img {
		max-width: 70%;
		@include mq(xxl) {
			max-width: 100%;
		}
	}
	& div {
		max-width: 59ch;
	}
}
