@use '../abstracts/' as *;
@use '../utilities/' as *;

.hero {
	&__img-wrapper {
		position: relative;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: -100vw;
			width: calc(100vw + 95%);
			height: 100%;
			background-image: url('./assets/images/pattern.webp');
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			z-index: -1;
			@include mq(xl) {
				height: calc(100% + 50px);
			}
		}
	}
	& img {
		max-width: 500px;
		width: 100%;
		height: auto;
		@include mq(xl) {
			max-width: 566px;
		}
		@include mq(xxl) {
			max-width: 666px;
		}
	}
	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
		flex-direction: column-reverse;
		align-items: center;
		text-align: center;
		@include mq(md) {
			flex-direction: row;
			text-align: left;
		}
		&__text {
			max-width: 1000px;
		}
	}
	&__tag {
		background-color: $gray;
		border-radius: 6px;
		padding: 5px 15px;
		font-size: rem(14px);
		display: inline-block;
		@include mq(lg) {
			padding: 10px 30px;
			font-size: rem(16px);
		}
	}
	&__title {
		margin-bottom: 13px;
		max-width: 100%;
		font-size: rem(30px);
		@include mq(md) {
			max-width: 17ch;
			margin-right: 36px;
		}
		@include mq(lg) {
			font-size: rem(36px);
		}
		@include mq(xxl) {
			font-size: rem(48px);
		}
	}
	& p {
		margin-inline: auto;
		text-wrap: balance;
		margin-bottom: 10px;
		@include mq(md) {
			max-width: 50ch;
			margin-inline: 0;
		}
		@include mq(lg) {
			margin-bottom: 21px;
		}
	}
	& a {
		padding: 9px 37px;
		margin-inline: auto;
		@include mq(md) {
			margin-inline: 0;
		}
	}
}
