@use '../abstracts/' as *;

body > hr {
	width: 100%;
	height: 35px;
	background-image: url(./assets/images/pattern.webp);
	background-repeat: no-repeat;
	background-size: cover;
}

.footer > hr {
	height: 3px;
	width: 100%;
	margin-block: 35px;
	background-color: $white;
}
