@use '../abstracts/' as *;

nav li {
	position: relative;
}
nav li::before {
	content: '';
	position: absolute;
	bottom: -5px;
	height: 3px;
	width: 0;
	transition: 0.2s;
}

nav li:hover::before {
	width: 100%;
}

.header nav li::before {
	background-color: $black;
}

.footer nav li {
	width: fit-content;
	&::before {
		background-color: $white;
	}
}
