@use '../abstracts/' as *;
@use '../utilities/' as *;

.phrase {
	text-align: center;
	padding-block: 25px;
	&__mark {
		color: $green;
		font-size: 250px;
		font-family: $phrase-mark-font-family, Times, serif;
		font-weight: 400;
		line-height: 120px;
		transform: translateY(50px);
		pointer-events: none;
	}
	&__text {
		font-family: $phrase-font-family, cursive;
		font-weight: 400;
		font-style: normal;
		font-size: 36px;
		margin-bottom: 25px;
		@include mq(xl) {
			font-size: 48px;
		}
	}
	&__author {
		font-size: rem(20px);
	}
}
