@use '../abstracts/' as *;

html,
body {
	max-width: 100vw;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
	color: $black;
	font-weight: 500;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

button {
	cursor: pointer;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

::-webkit-scrollbar {
	width: 16px;
}

::-webkit-scrollbar-track {
	background: $gray;
}

::-webkit-scrollbar-thumb {
	background-color: $green;
	// border-bottom: 100vh solid #43a047;
}

svg {
	fill: $green;
}
